#ifndef SECRETS_H
#define SECRETS_H

// Blynk IoT Credentials
#define BLYNK_TEMPLATE_ID   "***"
#define BLYNK_TEMPLATE_NAME "Soil Moisture Monitor"
#define BLYNK_AUTH_TOKEN    "***"

// WiFi Credentials
#define WIFI_SSID     "***"
#define WIFI_PASSWORD "***"

#endif